body {
  background-color: #1a2750;
}

.leader-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: Montserrat;
  min-width: 400px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 6px 5px 0 0;
  overflow: hidden;
}

.leader-table thead tr {
  background-color: #4e74f1;
  color: #ffffff;
  text-align: left;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
}
.leader-table th,
.leader-table td {
    padding: 10px 14px;
}
.leader-table tbody tr {
  border-bottom: 4px solid #343434;
  color: #d0d0d0;
  background-color: #252525;
}

.leader-table tbody tr:nth-of-type(even) {
  background-color: #2C2C2C;
}

.leader-table tbody tr:last-of-type {
  border-bottom: 4px solid #4e74f1;
}


a.button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.05em 0.05em rgba(0,0,0,0.5);
  text-align:center;
  transition: all 0.25s;
  background-color:#4e74f1;
}
a.button:hover{
  border-color: rgba(255,255,255,1);
}
